img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  width: 1176px;
  padding: 24px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 24px;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-image:hover {
  transform: translateY(-5%);
}
